@page "{apiKeyUsername}"
@model UnderwriterViewModel
@{
    ViewData["Title"] = "Underwriter Details";
}

<section class="col-12">
    <card class="bg-primary">
        <body>
            <card class="bg-primary">
                <body>
                    <div class="d-flex">
                        <div class=" flex-grow-1">
                            <h4 class="mt-1 mb-1 text-white">
                                @Model.Underwriter.Insurer.InsurerName
                            </h4>
                            <p class="text-white-50">Insurer name</p>

                            <ul class="mb-0 list-inline text-light">
                                <li class="list-inline-item me-3">
                                    <h5 class="mb-1 text-white">
                                        @Model.Underwriter.Insurer.ApiAuthStyle
                                    </h5>
                                    <p class="mb-0 text-white-50">Authentication</p>
                                </li>
                                <li class="list-inline-item me-3">
                                    <h5 class="mb-1 text-white">
                                        @Model.Underwriter.Insurer.NaicomId
                                    </h5>
                                    <p class="mb-0 text-white-50">Naicom ID</p>
                                </li>
                                <li class="list-inline-item me-3">
                                    <h5 class="mb-1 text-white">
                                        @Model.Underwriter.Insurer.CreatedUtc.ToString("MMM dd                  yyyy")
                                    </h5>
                                    <p class="mb-0 text-white-50">Created date</p>
                                </li>
                            </ul>
                        </div>
                        <div class="d-flex flex-column gap-2">
                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addModal">
                                <i class="bi bi-pencil-square me-1"></i> Edit Underwriter
                            </button>
                            <button type="submit" class="btn btn-danger" onclick="return confirm('sure?');">
                                <i class="bi bi-trash3 me-1"></i> Delete Underwriter
                            </button>
                        </div>
                    </div>
                </body>
            </card>

        </body>
    </card>
</section>

<div class="row mt-4">
    <div class="col-12 col-lg-4 mb-lg-0 mb-4">
        <card>
            <body>

            </body>
        </card>
    </div>

    <div class="col-lg-8 col-12">
        <div class="card h-100">
            <div class="card-body">
                <h5>Reviews</h5>
                <div></div>
            </div>
        </div>
    </div>
</div>

<section class="col-12 mt-4">
    <card>
        <body>
            <div class="fw-bold pb-3"><h3>Policies</h3></div>
            <top-bar>
                <left>
                    <div class="input-group ">
                        <input type="text" class="form-control" placeholder="Search...." />
                        <button class="btn btn-secondary" type="button"><i class="bi bi-search"></i></button>
                    </div>
                </left>
                <right>
                    <button class="btn btn-outline-secondary">Export</button>
                </right>
            </top-bar>
            <table class="table table-hover align-middle">
                <thead>
                    <tr>
                        <th><input type="checkbox" class="form-check-input" /></th>
                        <th>Policy No</th>
                        <th>Product Name</th>
                        <th>Billing Cycle</th>
                        <th>Created Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.UnderwriterPolicies.Any())
                    {
                        @foreach (var policy in Model.UnderwriterPolicies)
                        {
                            <tr>
                                <th><input type="checkbox" class="form-check-input"></th>
                                <td>@policy.PolicyNo</td>
                                <td>@policy.Product.ProductName</td>
                                <td>Annually</td>
                                <td>
                                    <span class="text-nowrap">
                                        @policy.CreatedUtc.ToString("MMM dd yyyy")
                                    </span>
                                    <small class="text-nowrap text-muted">
                                        @policy.CreatedUtc.ToShortTimeString()
                                    </small>
                                </td>
                                <td>
                                    <div class="d-flex gap-3 py-3 fs-5">
                                        <a href="" class="text-muted" title="Edit Underwriter"><i class="bi bi-pencil-fill text-warning"></i></a>
                                        <a href="" class="text-muted" title="Ban Underwriter"><i class="bi bi-stop-circle-fill text-danger"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="8" class="text-center text-danger fs-5">
                                No policy was found..
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </body>
    </card>
</section>

<section class="col-12 mt-4">
    <div class="card">
        <div class="card-body rounded-3 p-4"></div>
            
    </div>
</section>




<form method="post">
    <modal id="addModal">
        <header title="Edit Underwriter - @Model.ApiKeyUsername"></header>
        <body>
            <input asp-label="Insurer" asp-for="@Model.Underwriter.Insurer.InsurerName" type="text">
            <input asp-label="ApiKey Username" asp-for="@Model.Underwriter.ApiKey1Username" type="text">
            <input asp-label="ApiKey Password" asp-for="@Model.Underwriter.ApiKey2Password" type="password">
        </body>
        <footer>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" asp-page-handler="UpdateUnderwriter">Save</button>
        </footer>
    </modal>
</form>