@page
@model Gibs.Portal.Pages.Admin.PolicyModel

@{
    ViewData["Title"] = "Policies";
}

<main class="bg-white p-4 border">
    <top-bar>
        <left>
            <div class="input-group ">
                <input type="text" class="form-control" placeholder="Search...." />
                <button class="btn btn-secondary" type="button"><i class="bi bi-search"></i></button>
            </div>
        </left>
        <right>
            <button type="button" class="btn btn-primary" 
            data-bs-toggle="modal" data-bs-target="#addModal">
            <i class="bi bi-plus-circle-fill me-2"></i> Add Customer</button>
            <button class="btn btn-outline-secondary">Export</button>
        </right>
    </top-bar>
    <table class="table table-hover align-middle">
        <thead>
            <tr>
                <th><input type="checkbox" class="form-check-input" /></th>
                <th>Id</th>
                <th>Policy Name</th>
                <th>Issuing Company</th>
                <th>Premium Amount</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Policies.Any())
            {
                foreach (var policy in Model.Policies)
                {
                    <tr>
                        <th><input type="checkbox" class="form-check-input" /></th>
                        <td>@policy.PolicyNo</td>
                        <td>@policy.Name</td>
                        <td>@policy.Underwriter</td>
                        <td>@policy.GrossPremium</td>
                        <td>@policy.CreatedDate.ToLocalTime().Date.ToShortDateString()</td>
                        <td>@policy.EndDate.ToLocalTime().Date.ToShortDateString()</td>
                        <td class="d-flex gap-1">
                            <i class="bi bi-trash" data-bs-toggle="modal"
                               data-bs-target="#deletePolicy" data-id="@policy.PolicyNo" 
                               data-policy-name="@policy.Name">
                            </i>
                            <i class="bi bi-pencil-square"></i>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="9" class="text-center">No items to show</td>
                </tr>
            }
        </tbody>
    </table>
</main>




<!-- Add Policy -->
<div class="modal fade" id="addPolicy" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title fw-bold" id="addPolicy">
                    Add New Policy
                </h3>
            </div>
            <form method="post">
                <div class="text-danger mb-1" asp-validation-summary="ModelOnly"></div>
                <div class="modal-body d-flex flex-column gap-3">
                    <div>
                        <label class="form-label" asp-for="IssuingCompany">Issuing Company</label>
                        <input type="text" class="form-control" asp-for="IssuingCompany" required />
                    </div>
                    <div>
                        <label class="form-label" asp-for="Name">Policy Name</label>
                        <input type="text" class="form-control" asp-for="Name" required />
                    </div>
                    <div>
                        <label class="form-label" asp-for="EndDate">End Date</label>
                        <input type="date" class="form-control" asp-for="EndDate" required />
                    </div>
                    <div>
                        <label class="form-label" asp-for="PremiumAmount">PremiumAmount</label>
                        <input type="number" class="form-control" asp-for="PremiumAmount" required />
                    </div>

                    <div class="d-flex gap-2">
                        <button type="submit" class="btn btn-primary">
                            Save
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Delete Policy -->
<div class="modal fade" id="deletePolicy" data-bs-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="deletePolicyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deletePolicyModalLabel">Delete Policy -<span id="policyName"></span></h5>
            </div>
            <div class="modal-body">
                <form method="post" class="d-flex flex-column gap-3" asp-page-handler="DeletePolicy">
                    <input type="hidden" name="policyId" id="deletePolicyId" />
                    <div class="mt-1 d-flex align-items-center gap-1">
                        <button type="submit" class="btn btn-danger">delete</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




@section Scripts{
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const deletePolicyModal = document.getElementById("deletePolicy");

            deletePolicyModal.addEventListener("show.bs.modal", function (event) {
                let button = event.relatedTarget;
                let policyId = button.getAttribute('data-id');
                let policyName = button.getAttribute('data-policy-name');

                let hiddenInputField = deletePolicyModal.querySelector("#deletePolicyId");
                hiddenInputField.value = policyId;

                deletePolicyModal.querySelector("#policyName").innerHTML = PolicyName;
            });
        });
    </script>
}