@page "{id}"
@using System.Security.Claims;
@model Gibs.Portal.Pages.CustomerDetailsModel
@{

}

<div class="d-flex gap-3 mt-3">
    <div class="card rounded-4 shadow" style="width:50%; height:fit-content;">
        <div class="card-body p-4">
            <p class="d-flex justify-content-between align-items-center mb-3">
                <span class="fw-bold">Personal Details</span>
                <a asp-page="CustomerEdit" asp-route-id="@Model.Customer.Id" class="text-decoration-none">Edit</a>
            </p>
            <div class="row">
                <div class="col-lg-2">
                    <img src="~/images/profile.png" alt="Customer Avatar" class="img-fluid rounded-circle">
                </div>
                <div class="col-md-8">
                    <h3 class="card-title fw-bold">@Model.Customer.FullName</h3>
                    <p class="card-text">
                        <strong>Email:</strong> @Model.Customer.Email<br>
                        <strong>Phone Number:</strong> @Model.Customer.Phone<br>
                        <strong>Date of Birth:</strong> @Model.Customer.DateOfBirthOrReg.ToString("yyyy-MM-dd")<br>
                        @if (Model.Customer.IsCorporate)
                        {
                            <strong>Company Name:</strong> @Model.Customer.CompanyName

                            <br>
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card rounded-4 shadow" style="width: 50%">
        <div class="card-body p-4">
            <div class="pb-3 border-bottom">
                <p class="fw-bold mb-3">Policies</p>
            </div>

            @foreach (var policy in Model.Policies)
            {
                <div class="mb-4">
                    <p class="mb-0 card-text">@policy.PolicyNo</p>
                    <h3 class="fw-bold">@policy.Product.ProductName<span class="badge bg-primary ms-3 rounded-3">@policy.Status</span></h3>
                    <div class="d-flex justify-content-between pt-3">
                        <div>
                            <p class="mb-0">Billing cycle</p>
                            <p class="fw-bold fs-5 mb-0">Anually</p>
                        </div>
                        <div>
                            <p class="mb-0">Renews On</p>
                            <p class="fw-bold fs-5 mb-0">@policy.EndDate.ToString("dd, MMMM, yyyy")</p>
                        </div>
                        <div>
                            <p class="mb-0">Registration Date</p>
                            <p class="fw-bold fs-5 mb-0">@policy.StartDate.ToString("dd, MMMM, yyyy")</p>
                        </div>
                    </div>
                    <div class="d-flex gap-3 align-items-center pt-4">
                        <button class="btn btn-outline-danger">Suspend Policy</button>
                        <button class="btn btn-primary">Change Policy</button>
                    </div>
                </div>
            }
        </div>
    </div>

</div>

<section class="bg-white p-4 border mt-5 rounded-3 shadow">
    <div class="fw-bold pb-3"><h3>Orders</h3></div>
    <top-bar>
        <left>
            <div class="input-group ">
                <input type="text" class="form-control" placeholder="Search...." />
                <button class="btn btn-secondary" type="button"><i class="bi bi-search"></i></button>
            </div>
        </left>
        <right>
            <button class="btn btn-outline-secondary">Export</button>
        </right>
    </top-bar>
    <table class="table table-hover align-middle">
        <thead>
            <tr>
                <th><input type="checkbox" class="form-check-input" /></th>
                <th>Order ID</th>
                <th>Date</th>
                <th>Total Amount</th>
                <th>Reference No</th>
                <th>Payment Status</th>
                <th>Payment Method</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var order in Model.Orders)
            {
                <tr>
                    <th><input type="checkbox" class="form-check-input"></th>
                    <td>@order.Id</td>
                    <td>@order.CreatedUtc.ToString("dd/MMM/yyyy hh:mm")</td>
                    <td>@order.TotalAmount.ToString("C")</td>
                    <td>@order.Reference</td>
                    <td>@order.PaymentStatus</td>
                    <td>@order.PaymentMethod</td>
                    <td class="d-flex gap-1">
                        <i class="bi bi-trash" data-bs-toggle="modal" data-bs-target="#deletePolicy" data-id="4">
                        </i>
                        <i class="bi bi-pencil-square"></i>
                    </td>
                </tr>
            }
            
            <tr>
                <th><input type="checkbox" class="form-check-input"></th>
                <td>6</td>
                <td>19/01/2024 02:27</td>
                <td>₦15,000.00</td>
                <td>5de4d39e-0e09-4cc4-b08e-dea3a94685e3</td>
                <td>SUCCESS</td>
                <td>PAYSTACK</td>
                <td class="d-flex gap-1">
                    <i class="bi bi-trash" data-bs-toggle="modal" data-bs-target="#deletePolicy" data-id="6">
                    </i>
                    <i class="bi bi-pencil-square"></i>
                </td>
            </tr>
        </tbody>
    </table>
</section>
