@page
@model Gibs.Portal.Pages.Admin.UnderWritersModel
@{
    ViewData["Title"] = "UnderWriters";
}


<section class="d-flex flex-column gap-3">
    <button type="button" class="btn btn-danger align-self-end" data-bs-toggle="modal" data-bs-target="#addPolicy">
        <i class="bi bi-plus-circle me-2"></i> Add Underwriter
    </button>
    <table id="myTable" class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.UnderWriters.Any())
            {
                foreach (var underWriter in Model.UnderWriters)
                {
                    <tr>
                        <td>@underWriter.Name</td>
                        <td>@underWriter.PhoneNumber</td>
                        <td>@underWriter.Email</td>
                        <td>@underWriter.Address</td>
                        <td class="d-flex gap-1">
                            <i class="bi bi-trash" data-bs-toggle="modal"
                               data-bs-target="#deletePolicy" data-id="@underWriter.Id"
                               data-policy-name="@underWriter.Name">
                            </i>
                            <i class="bi bi-pencil-square"></i>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr><td colspan="6"><div class="text-center text-danger h3">No underWriter has been found...</div></td></tr>
            }
        </tbody>
    </table>
</section>



<!-- Delete UnderWriter -->
<div class="modal fade" id="deleteUnderWriter" data-bs-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="deleteUnderWriterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUnderWriterModalLabel">Delete Underwriter -<span id="underWriterName"></span></h5>
            </div>
            <div class="modal-body">
                <form method="post" class="d-flex flex-column gap-3" asp-page-handler="DeleteUnderWriter">
                    <input type="hidden" name="underWriterId" id="deleteUnderWriterId" />
                    <div class="mt-1 d-flex align-items-center gap-1">
                        <button type="submit" class="btn btn-danger">delete</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>