@page
@model OrdersModel
@{
    ViewData["Title"] = "Orders";
}

<main class="bg-white p-4 border">
    <top-bar>
        <left>
            <div class="input-group ">
                <input type="text" class="form-control" placeholder="Search...." />
                <button class="btn btn-secondary" type="button"><i class="bi bi-search"></i></button>
            </div>
        </left>
        <right>
            <button class="btn btn-outline-secondary">Export</button>
        </right>
    </top-bar>
    <table class="table table-hover align-middle">
        <thead>
            <tr>
                <th><input type="checkbox" class="form-check-input" /></th>
                <th>Order ID</th>
                <th>Date</th>
                <th>Total Amount</th>
                <th>Reference No</th>
                <th>Payment Status</th>
                <th>Payment Method</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.OrdersGrid.Any())
            {
                foreach (var order in Model.OrdersGrid)
                {
                    var viewLink = Url.Page("View", new { id = order.Id });
                    <tr>
                        <th><input type="checkbox" class="form-check-input" /></th>
                        <td>
                            <a href="@viewLink" class="text-decoration-none">
                                #@order.Id.ToString("00000")
                            </a>
                        </td>
                        <td>
                            <span class="text-nowrap">@order.CreatedUtc.ToString("MMM dd yyyy")</span>
                            <small class="text-nowrap text-muted">@order.CreatedUtc.ToShortTimeString()</small>
                        </td>
                        @* <td>@order.CreatedUtc.ToLocalTime().ToString("dd/MM/yyy hh:mm")</td> *@
                        <td>@order.TotalAmount.ToString("C")</td>
                        <td>@order.Reference</td>
                        <td>
                            <span class="badge bg-success">
                                <i class="bi bi-credit-card-2-back"></i> @order.PaymentStatus
                            </span>
                        </td>
                        @* <td>@order.PaymentStatus</td> *@
                        <td>@order.PaymentMethod</td>
                        <td>
                            <div class="py-3 fs-5">
                                <a href="@viewLink&d=1" class="text-muted" title="Ban Insured"><i class="bi bi-stop-circle-fill text-danger"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="9" class="text-center">No items to show</td>
                </tr>
            }
        </tbody>
    </table>
</main>