@using System.Security.Claims;

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_StaticFiles" model='"styles"' />
</head>
<body class="vh-100 bg-light">
    <nav class="sb">
        <header class="sb-header">
            <a href="#">
                <span class="sb-brand">Titpak Brokers</span>
                <span class="sb-brand-icon">TP</span>
            </a>
        </header>

        <ul class="sb-menu flex-column">
            @if (User.IsInRole("broker"))
            {
            <li class="sb-group">BROKER</li>
            <li class="active">
                <a href="/Broker/Dashboard">
                    <i class="bi bi-speedometer2"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/Broker/Orders">
                    <i class="bi bi-bag-check-fill"></i>
                    <span>Orders</span>
                </a>
            </li>
            <li>
                <a href="/Broker/Policies">
                    <i class="bi bi-file-earmark-medical-fill"></i>
                    <span>Policies</span>
                </a>
            </li>
            <li>
                <a href="/Broker/Customers">
                    <i class="bi bi-people-fill"></i>
                    <span>Customers</span>
                </a>
            </li>
            <li>
                <a href="/Broker/Products">
                    <i class="bi bi-box2-heart"></i>
                    <span>Products</span>
                </a>
            </li>
            <li>
                <a href="/Broker/Underwriters">
                    <i class="bi bi-building-fill"></i>
                    <span>Underwriters</span>
                </a>
            </li>
            }
            else if (User.IsInRole("customer"))
            {
            <li class="sb-group">CUSTOMER</li>
            <li class="active">
                <a href="/Customer/Dashboard">
                    <i class="bi bi-speedometer2"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/Customer/Orders">
                    <i class="bi bi-bag-check-fill"></i>
                    <span>Orders</span>
                </a>
            </li>
            <li>
                <a href="/Customer/Policies">
                    <i class="bi bi-file-earmark-medical-fill"></i>
                    <span>Policies</span>
                </a>
            </li>
            }
            else
            {
            <li class="sb-group">PUBLIC</li>
            <li>
                <a href="/Public/Products">
                    <i class="bi bi-check-fill"></i>
                    <span>Purchase</span>
                </a>
            </li>
            }
        </ul>
    </nav>

    <main role="main" class="pb-3 h-100">
        <header class="navbar bg-primary-subtle shadow">
            <div class="container-fluid">
                <left class="d-flex gap-2">
                    <button class="btn btn-toolbar py-2" type="button" data-sidebar-toggle="toggle">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-search"></i></span>
                        <input class="form-control" type="text" placeholder="search...">
                        <button class="btn btn-primary">Search</button>
                    </div>
                </left>
                <right class="d-flex gap-2">
                    <a class="nav-link" asp-page="/Admin/Tickets"><i class="bi bi-bell-fill fs-4"></i></a>
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle d-flex align-items-center gap-2" data-bs-toggle="dropdown" href="#">
                            <div>
                                @* <i class="bi bi-person-circle fs-4"></i> *@
                                <img class="rounded-circle" src="@User.GetClaimValue(ClaimTypes.Uri)" width="32">
                            </div>
                            <div>
                                <span>@User.GetClaimValue(ClaimTypes.Name)</span>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" asp-page="/Admin/Settings/Index">Settings</a>
                            <hr class="dropdown-divider" />
                            <a class="dropdown-item" asp-page="/Public/Login">Logout</a>
                        </div>
                    </div>
                </right>
            </div>
        </header>

        <section class="p-4">
            <header class="d-flex justify-content-between pb-2">
                <h5 class="fw-bold">@ViewData["Title"]</h5>
                <nav>
                    <partial name="BreadCrumb" />
                </nav>
            </header>

            @if (ViewContext.TempData["ShowInfo"] != null)
            {
                <div class="alert alert-success d-flex">
                    <i class="bi bi-info-circle-fill px-4 display-6"></i>
                    <div class="m-auto">
                        @ViewContext.TempData["ShowInfo"]
                    </div>
                </div>
            }

            @if (!ViewContext.ModelState.IsValid)
            {
                <div class="alert alert-danger d-flex">
                    <i class="bi bi-exclamation-triangle-fill px-4 display-6"></i>
                    <div class="m-auto">
                        <div class="text-danger" asp-validation-summary="All"></div>
                    </div>
                </div>
            }

            <div class="text-danger" asp-validation-summary="All"></div>
            @RenderBody()
        </section>
    </main>

    <partial name="_StaticFiles" model='"scripts"' />
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const buttons = document.querySelectorAll('[data-sidebar-toggle]');
            buttons.forEach(e => {
                e.addEventListener('click', () => {
                    document.querySelector('body').classList.toggle('override');
                })
            });
            // toggle dropdown-menu
            // const dropdowns = document.querySelectorAll('ul.sb-menu li:has(ul)');
            // dropdowns.forEach(e => {
            //     e.addEventListener('click', () => {
            //         e.classList.toggle('open');
            //     });
            // });

            //add dataTables here. Prefer class name
            const dataTables = document.querySelectorAll('#myTable, .data-table');
            dataTables.forEach(e => {
                e.DataTable();
            });
        });

        //requires jQuery
        // $(document).ready(function () {
        //     $('#myTable').DataTable();
        // });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>